{% extends "base.twig" %}

{% block body %}
    <div class="row">
      <h1>405 Method Not Allowed</h1>
      <p>Please use one of the following methods for this URI: {{ allowedMethods|join(', ') }}</p>
    </div>
{% endblock %}
